<template>
  <div class="AlkoTaxLoader">
  </div>
</template>

<script>
export default {
  name: 'AlkoTaxLoader',
}
</script>

<style lang="scss">

@keyframes load {
  from {
    left: -400px;
  }
  to   {
    left: 100%;
  }
}

.AlkoTaxLoader {
  border-radius: 4px;
  position: relative;
  z-index: 0;
  overflow: hidden;
  height: 202px;
  background-color: white;
}

.AlkoTaxLoader::before {
  content: '';
  display: block;
  position: absolute;
  left: -400px;
  top: 0;
  height: 100%;
  width: 400px;
  background: linear-gradient(to right, transparent 0%, #E8E8E8 50%, transparent 100%);
  animation: load 1.25s cubic-bezier(0.4, 0.0, 0.2, 1) infinite;
}
</style>
