<template>
  <div class="AlkoTaxProduct" v-on:click="openModal">
    <div class="AlkoTaxProduct__image">
      <img v-if="product.imgSrc" :src="product.imgSrc" />
      <AlkoTaxFlaskIcon v-else />
    </div>
    <div class="AlkoTaxProduct__name-group">
      <p class="AlkoTaxProduct__name">{{ product.name }}</p>
      <p v-if="product.subName" class="AlkoTaxProduct__subname">{{ product.subName }}</p>
      <p class="AlkoTaxProduct__brand">{{ product.brand }}</p>

      <div class="AlkoTaxProduct__data-group">
        <p>{{ product.category }}</p>
        <p>{{ product.volumeMl/10 }} cl</p>
        <p>{{ product.alcoholPercentage }}%</p>
        <p>Art.nr. {{ product.id }}</p>
      </div>
      <p><button class="AlkoTaxProduct__moreinfo-button" v-on:click="openModal">Mer info</button></p>
    </div>

    <div class="AlkoTaxProduct__prices-group">
      <AlkoTaxPriceTable
        :totalPrice="product.totalPrice"
        :vat="product.vat"
        :tax="product.alcoholTax"
        :margin="product.systembolagetUnitCut + product.systembolagetPercentageCut"
      />
    </div>
    
    <div class="AlkoTaxProduct__chart">
      <AlkoTaxChart :value="skattetryckPercentage" />
    </div>
    <AlkoTaxModal :open="moreInfoOpen" :onClose="closeModal">
      <div class="AlkoTaxProduct__modal">
        <p>Varutyp hos Systembolaget</p> <p>{{product.meta.systembolagetType}} </p>
        <p>Varutyp hos Skatteverket</p> <p>{{product.meta.skatteverketType}} </p>
        <p>Alkoholfri</p> <p>{{product.meta.isNonAlcoholic ? 'Ja' : 'Nej'}} </p>
        <p>Liten flaska (&lt; 35 cl)</p> <p>{{product.meta.isSmallPackage ? 'Ja' : 'Nej'}} </p>
        <p>Systembolagets fasta påslag</p> <p>{{product.systembolagetUnitCut}} kr </p>
        <p>Systembolagets rörliga påslag</p> <p>{{product.systembolagetPercentageCut}} kr </p>
        <p>Systembolagets kategorisering</p> <p>{{product.categories.filter((c) => c && c !== '').join(', ')}} </p>
      </div>
    </AlkoTaxModal>
  </div>
</template>

<script>
import AlkoTaxChart from '../../components/chart/Chart';
import AlkoTaxFlaskIcon from '../../components/icons/flask-icon/FlaskIcon';
import AlkoTaxModal from '../../components/modal/Modal';
import AlkoTaxPriceTable from '../../components/price-table/PriceTable';

export default {
  name: 'AlkoTaxProduct',
  props: {
    product: Object
  },
  data() {
    return {
      moreInfoOpen: false,
    };
  },
  components: {
    AlkoTaxChart,
    AlkoTaxPriceTable,
    AlkoTaxFlaskIcon,
    AlkoTaxModal
  },
  computed: {
    skattetryckPercentage() {
      return 1 - (this.product.originalPrice / this.product.totalPrice);
    },
  },
  methods: {
    openModal() {
      this.moreInfoOpen = true;
    },
    closeModal() {
      this.moreInfoOpen = false;
    }
  }
}
</script>

<style lang="scss">
.AlkoTaxProduct {
  background: white;
  display: grid;
  align-items: center;
  padding: 1rem;
  row-gap: 1rem;
  box-shadow: 0 1px 5px #888;
  border-radius: .5rem;

  transition: background-color 250ms linear;

  &:hover {
    background-color: #f0f0f0;
    cursor: pointer;
  }

  grid-template-columns: 1fr;
  grid-template-areas:
      "image chart"
      "name name"
      "price price";

  @media only screen and (min-width: 767px) {
    grid-template-columns: 10rem 1fr 1fr auto;
    grid-template-areas:
      "image name price chart";
    column-gap: 1rem;
    row-gap: unset;
  }

  p {
    margin: 0;
  }
}

.AlkoTaxProduct__name-group {
  .AlkoTaxProduct__name {
    font-size: 1.25rem;
    font-weight: bold;
  }

  grid-area: name;
  display: grid;
  row-gap: .5rem;
}

.AlkoTaxProduct__data-group {
  display: flex;
  justify-items: start;
  color: gray;
  column-gap: 1rem;
}

.AlkoTaxProduct__image {
  grid-area: image;
  text-align: center;
  max-width: 10rem;
  max-height: 10rem;
  img {
    max-height: 10rem;
    max-width: 10rem;
  }
}

.AlkoTaxProduct__prices-group {
  grid-area: price;
  display: grid;
  row-gap: .5rem;
}

.AlkoTaxProduct__main-price {
  font-weight: bold;
}

.AlkoTaxProduct__chart {
  grid-area: chart;
  @media only screen and (min-width: 767px) {
    justify-self: end;
  }
}

.AlkoTaxProduct__modal {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: .75rem;
  row-gap: .75rem;

  font-family: Arial, Helvetica, sans-serif;

  p {
    padding: 0;
    margin: 0;
  }
}

.AlkoTaxProduct__moreinfo-button {
  background: transparent;
  border: none;
  font-size: 1rem;
  color: gray;
  padding: 0;
  line-height: 1.5;
  text-decoration: underline;
  cursor: pointer;
}
</style>
