<template>
  <div class="AlkoTaxChart" :class="modifiers" :style="style">
    <svg viewBox="0 0 36 36" class="AlkoTaxChart__chart">
      <path class="AlkoTaxChart__background"
        d="M18 2.0845
          a 15.9155 15.9155 0 0 1 0 31.831
          a 15.9155 15.9155 0 0 1 0 -31.831"
      />
      <path class="AlkoTaxChart__circle"
        v-bind:stroke-dasharray="stroke"
        d="M18 2.0845
          a 15.9155 15.9155 0 0 1 0 31.831
          a 15.9155 15.9155 0 0 1 0 -31.831"
      />
      <text x="18" y="20.35" class="AlkoTaxChart__percentage">{{ percentageFormatted }}</text>
    </svg>
  </div>
</template>

<script>
import Rainbow from 'rainbowvis.js';
const rainbow = new Rainbow();
rainbow.setSpectrum("#4CC790", "#fffb00", "#e53c3c");

export default {
  name: 'AlkoTaxChart',
  props: {
    value: Number
  },
  computed: {
    percentage() {
      return Math.round(this.value * 100);
    },
    percentageFormatted() {
      return this.percentage + "%";
    },
    stroke() {
      return this.percentage + ", 100";
    },
    modifiers() {
      return {
      }
    },
    style() {
      return {
        '--stroke-color': '#' + rainbow.colourAt(this.percentage)
      }
    }
  }
}
</script>

<style lang="scss">
.AlkoTaxChart__chart {
  display: block;
  margin: 10px auto;
  height: 150px;
}

.AlkoTaxChart__background {
  fill: none;
  stroke: #eee;
  stroke-width: 3.8;
}

.AlkoTaxChart__circle {
  fill: none;
  stroke-width: 2.8;
  stroke-linecap: round;
  animation: progress 1s ease-out forwards;
  stroke: var(--stroke-color);
}

@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}

.AlkoTaxChart__percentage {
  fill: #666;
  font-family: sans-serif;
  font-size: 0.5em;
  text-anchor: middle;
}
</style>
