<template>
  <div class="AlkoTaxPriceTable" :class="modifiers">
    <span class="AlkoTaxPriceTable__label AlkoTaxPriceTable__label--fat" title="Se FAQ för att se hur detta värde räknas ut">Inköp*</span>
    <span class="AlkoTaxPriceTable__value AlkoTaxPriceTable__value--fat">{{purchasePrice.toFixed(2)}}</span>
    <span class="AlkoTaxPriceTable__label" title="Se FAQ för att se hur detta värde räknas ut">Alkoholskatt*</span>
    <span class="AlkoTaxPriceTable__value">{{tax.toFixed(2)}}</span>
    <span class="AlkoTaxPriceTable__label" title="Se FAQ för att se hur detta värde räknas ut">Systembolagets påslag*</span>
    <span class="AlkoTaxPriceTable__value">{{margin.toFixed(2)}}</span>
    <span class="AlkoTaxPriceTable__label">Moms</span>
    <span class="AlkoTaxPriceTable__value">{{vat.toFixed(2)}}</span>
    <span class="AlkoTaxPriceTable__label AlkoTaxPriceTable__label--fat">Du betalar</span>
    <span class="AlkoTaxPriceTable__value AlkoTaxPriceTable__value--fat">{{totalPrice.toFixed(2)}}</span>
  </div>
</template>

<script>
import { round } from '../../taxHelper';
export default {
  name: 'AlkoTaxPriceTable',
  props: {
    totalPrice: Number,
    vat: Number,
    tax: Number,
    margin: Number
  },
  components: {
  },
  computed: {
    purchasePrice() {
      return round(this.totalPrice - this.vat - this.tax - this.margin);
    },
    modifiers() {
      return {
        
      }
    }
  }
}
</script>

<style lang="scss">
.AlkoTaxPriceTable {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: .75rem;
  row-gap: .75rem;

  font-family: Arial, Helvetica, sans-serif;
}

.AlkoTaxPriceTable__label--fat {
  font-weight: bold;
}

.AlkoTaxPriceTable__value--fat {
  font-weight: bold;
}

</style>
