<template>
  <div class="AlkoTaxSortInterface" :class="modifiers">
    <select v-model="selectedSorting">
      <option disabled value="">Sortera</option>
      <option v-for="option in options" v-bind:key="option.name">
        {{ option.name }}
      </option>
    </select>
  </div>
</template>

<script>

function calcSkattetryck(product) {
  return 1 - (product.originalPrice / product.totalPrice);
}

export default {
  name: 'AlkoTaxSortInterface',
  props: {
    onSort: Function,
  },
  data() {
    return {
      selectedSorting: "",
      options: [
        {
          name: "Relevans",
          sortFunc: (p1, p2) => { return p1.relevance - p2.relevance; },
        },
        {
          name: "Namn - stigande",
          sortFunc: (p1, p2) => { return p1.name.localeCompare(p2.name); } ,
        },
        {
          name: "Namn - fallande",
          sortFunc: (p1, p2) => { return p2.name.localeCompare(p1.name); } ,
        },
        {
          name: "Skattetryck - stigande",
          sortFunc: (p1, p2) => { return calcSkattetryck(p1) - calcSkattetryck(p2); } ,
        },
        {
          name: "Skattetryck - fallande",
          sortFunc: (p1, p2) => { return calcSkattetryck(p2) - calcSkattetryck(p1); } ,
        },
        {
          name: "Slutpris - stigande",
          sortFunc: (p1, p2) => p1.totalPrice - p2.totalPrice,
        },
        {
          name: "Slutpris - fallande",
          sortFunc: (p1, p2) => p2.totalPrice - p1.totalPrice,
        }
      ]
    }
  },
  methods: {
  },
  computed: {
    modifiers() {
      return {
      };
    }
  },
  watch: {
    selectedSorting(newValue) {
      const selectedOption = this.options.find((o) => o.name === newValue);
      this.$store.dispatch("setSortFunction", selectedOption.sortFunc);
      this.onSort && this.onSort();
    }
  }
}
</script>

<style lang="scss">
.AlkoTaxSortInterface {
  select {
    font-size: 1rem;
  }
}

</style>
