<template>
  <div class="AlkoTaxProductCard">
    <AlkoTaxCard>
      bajs
    </AlkoTaxCard>
  </div>
</template>

<script>

import AlkoTaxCard from '../card/Card';
export default {
  name: 'AlkoTaxProductCard',
  components: {
    AlkoTaxCard
  },
}
</script>

<style lang="scss">
.AlkoTaxProductCard {

  @media only screen and (min-width: 767px) {
  }
}
</style>
