<template>
  <div class="AlkoTaxAnimatedBackground" :class="modifiers" :style="style">
    <canvas class="AlkoTaxAnimatedBackground__canvas" width="1920" height="1080" ref="canvas"></canvas>
  </div>
</template>

<script>
import Rainbow from 'rainbowvis.js';
const rainbow = new Rainbow();
rainbow.setSpectrum("#4CC790", "#fffb00", "#e53c3c");

export default {
  name: 'AlkoTaxAnimatedBackground',
  data() {
    return {
      activeGlasses: [],
    };
  },
  computed: {
    modifiers() {
      return {
      }
    },
    style() {
      return {
      }
    }
  },
  methods: {
    drawCocktailGlas(xOffset, yOffset, alpha, type) {
      var ctx = this.$refs.canvas.getContext('2d');
      ctx.lineWidth = 2.5;
      ctx.strokeStyle = `rgba(210,225,210,${alpha})`;
      ctx.beginPath();

      function moveTo(x, y) {
        ctx.moveTo(xOffset + x - 20, yOffset + y - 30);
      }
      function lineTo(x, y) {
        ctx.lineTo(xOffset + x - 20, yOffset + y - 30);
      }

      if (type === 'cocktail') {
        moveTo(0, 50);
        lineTo(30, 50);
        moveTo(15, 50);
        lineTo(15, 25);
        lineTo(30, 0);
        lineTo(0, 0);
        lineTo(15, 25);
      } else if (type === 'beer') {
        moveTo(0, 0);
        lineTo(0, 50);
        lineTo(30, 50);
        lineTo(30, 0);
        lineTo(0, 0);
        moveTo(30, 12);
        lineTo(40, 12);
        lineTo(40, 38);
        lineTo(30, 38);
        moveTo(7.5, 12);
        lineTo(7.5, 38);
        moveTo(15, 12);
        lineTo(15, 38);
        moveTo(22.5, 12);
        lineTo(22.5, 38);
      } else if (type === 'bottle') {
        moveTo(8, 0);
        lineTo(8, 15);
        lineTo(0, 25);
        lineTo(0, 60);
        lineTo(22, 60);
        lineTo(22, 25);
        lineTo(14, 15);
        lineTo(14, 0);
        lineTo(8, 0);
      } 

      ctx.stroke();
    },
    runAnimation() {
      const canvas = this.$refs.canvas;
      if (canvas) {
        const context = canvas.getContext('2d');
        context.clearRect(0, 0, canvas.width, canvas.height);


        if (this.shouldSpawnNewGlas()) {
          this.spawnNewGlas();
        }

        for (let i = 0; i < this.activeGlasses.length; i++) {
          this.progressCocktailGlas(this.activeGlasses[i]);
        }

        this.activeGlasses = this.activeGlasses.filter((a) => !a.shouldBeDeleted);
      }

      setTimeout(this.runAnimation, 200);
    },
    shouldSpawnNewGlas() {
      return true;//Math.floor(Math.random() * 2) == 0;
    },
    getFreeOffset() {
      let tryCount = 1;
      while (tryCount) {
        const xOffset = Math.floor(Math.random() * (1920 - 40) + 20);
        const yOffset = Math.floor(Math.random() * (1080 - 60) + 30);
        const glassExists = !!this.activeGlasses.find((g) => Math.abs(g.x - xOffset) < 40 && Math.abs(g.y - yOffset) < 60);

        if (!glassExists || tryCount++ > 50)
          return { x: xOffset, y: yOffset};
      }
    },
    spawnNewGlas() {
      const offset = this.getFreeOffset()
      const originalTick = new Date().getTime();

      const types = ['cocktail', 'beer', 'bottle'];

      const type = types[Math.floor(Math.random() * types.length)];
      this.activeGlasses.push({ x: offset.x, y: offset.y, type: type, alphaFunc: () => Math.sin((new Date().getTime() - originalTick)/2500), shouldBeDeleted: false });
    },
    progressCocktailGlas(glas) {
      const alpha = glas.alphaFunc();

      if (alpha < 0) {
        glas.shouldBeDeleted = true;
      } else {
        this.drawCocktailGlas(glas.x, glas.y, alpha, glas.type);
      }
    }
  },
  mounted() {
    this.runAnimation();
  }
}
</script>

<style lang="scss">
.AlkoTaxAnimatedBackground {
  width: 100%;
  height: 100%;

  display: grid;
  align-items: center;
  justify-items: center;

  &__canvas {
    height: 100%;
  }
}
</style>
