<template>
  <div class="AlkoTaxCookies" :class="modifiers" v-on:transitionend="transitionEnd">
    <div class="AlkoTaxCookies__container">
      <AlkoTaxCookieIcon class="AlkoTaxCookies__icon"/>
      <span class="AlkoTaxCookies__text">
        Sidan behöver inte spara några cookies. Hoppas det är okej!
      </span>
    </div>
  </div>
</template>

<script>
import AlkoTaxCookieIcon from '../../components/icons/cookie-icon/CookieIcon';
export default {
  name: 'AlkoTaxCookies',
  components: {
    AlkoTaxCookieIcon
  },
  data() {
    return {
      isOpen: true,
      hasClosed: false
    };
  },
  computed: {
    modifiers() {
      return {
        "AlkoTaxCookies--closing": !this.isOpen,
        "AlkoTaxCookies--closed": this.hasClosed,
      }
    },
  },
  methods: {
    transitionEnd() {
      this.hasClosed = true;
    }
  },
  mounted() {
    this.isOpen = true;
    this.hasClosed = false;

    setTimeout(() => {
      this.isOpen = false;
    }, 2000);
  }
}
</script>

<style lang="scss">
.AlkoTaxCookies {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: white;
  box-shadow: 0 1px 5px gray;
  transition: transform .75s cubic-bezier(0.4, 0.0, 0.2, 1);

  &--closing {
    transform: translateY(100%);
  }

  &--closed {
    display: none;
  }
}

.AlkoTaxCookies__container {
  height: 75px;
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  column-gap: 1rem;
  padding: 1rem;

  .AlkoTaxCookies__icon {
    width: 75px;
    justify-self: end;
  }

  .AlkoTaxCookies__text {
    font-family: Arial, Helvetica, sans-serif;
  }
}
</style>
