<template>
  <div class="AlkoTaxCard"
    :class="modifiers"
    v-on:click="onClickInternal">
    <slot/>
  </div>
</template>

<script>

export default {
  name: 'AlkoTaxCard',
  props: {
    clickable: Boolean,
    onClick: Function
  },
  methods: {
    onClickInternal(e) {
      e.stopPropagation();

      if (this.clickable) {
        this.onClick();
      }
    }
  },
  computed: {
    modifiers() {
      return {
        "AlkoTaxCard--clickable": this.clickable
      }
    }
  }
}
</script>

<style lang="scss">
.AlkoTaxCard {
  background: white;
  padding: 1rem;
  box-shadow: 0 1px 5px #888;
  border-radius: .5rem;

  transition: background-color 250ms linear;

  &--clickable {
    &:hover {
      background-color: #f9f9f9;
      cursor: pointer;
    }
  }

  @media only screen and (min-width: 767px) {
  }
}
</style>
