<template>
  <div class="AlkoTaxAbout">
    <h2>Hur funkar siten?</h2>
    <ul class="AlkoTaxAbout__list">
      <li>
        <p class="AlkoTaxAbout__question">Hur räknar du ut alkoholskatt, påslag och inköpspris?</p>
        <p>Systembolagets påslag på varorna de säljer finns väl dokumenterat på deras egen informationssida (<a href="https://www.omsystembolaget.se/om-systembolaget/inkop-kvalitet/prismodell/">https://www.omsystembolaget.se</a>). 
        Alkoholskatten finns också tydligt specificerad på skatteverkets hemsida (<a href="https://skatteverket.se/foretagochorganisationer/skatter/punktskatter/alkoholskatt/skattesatser.4.4a47257e143e26725aecb5.html">https://skatteverket.se</a>). Här är det svåra att tyda ut vilka produkter är såkallade Mellanklassprodukter. Vilket också finns specificerat hos <a href="https://www4.skatteverket.se/rattsligvagledning/edition/2020.15/322009.html">Skatteverket</a>.
        När man känner till påslaget och skatten är inköpspriset är bara att räkna ut.</p>
      </li>
      <li>
        <p class="AlkoTaxAbout__question">Borde jag ta siffrorna med en nypa salt?</p>
        <p>Ja, eftersom jag använder data från systembolaget som jag inte kontrollerar kan det förekomma felaktigheter när skatt och påslag ska räknas ut. Eftersom detta är baserat på vilken typ av rusdryck det rör sig om, 
          som man får gissa sig till baserat på systembolagets kategorisering. Men siffrorna borde kunna ge dig en hum om hur mycket av dina pengar som går till producenten.</p>
      </li>
      <li>
        <p class="AlkoTaxAbout__question">Varför?</p>
        <p><a href="https://www.youtube.com/watch?v=5w6F3U6aMxU">Därför</a></p>
      </li>
    </ul>
  </div>
</template>

<script>

export default {
  name: 'AlkoTaxAbout',
}
</script>

<style lang="scss">

.AlkoTaxAbout {
  iframe[src*=youtube] {
    max-width:100%;
  }
}

.AlkoTaxAbout__list {
  display: grid;
  row-gap: 1rem;
  margin: 1rem;
  padding-left: 2rem;
}

.AlkoTaxAbout__question {
  font-weight: bold;
}
</style>

