<template>
  <div class="AlkoTaxHome">
    <h1>Välkommen!</h1>
    <AlkoTaxSearchInput big :onSearch="onSearch"/>
    <p>För att ta reda på hur mycket av dina pengar som går till alkoholskatt, systembolaget, moms och, sist och kanske minst*, producenten.</p>
    <p class="AlkoTaxHome__disclamer">* Beror på hur dyra rusdrycker du köper</p>
  </div>
</template>

<script>
import AlkoTaxSearchInput from '../components/search-input/SearchInput';
export default {
  name: 'AlkoTaxHome',
  components: {
    AlkoTaxSearchInput
  },
  methods: {
    onSearch(query) {
      this.$router.push({ name: 'search', params: { searchQuery: query } });
    }
  }
}
</script>

<style lang="scss">

.AlkoTaxHome {
  text-align: center;
  padding: 1rem;
}

.AlkoTaxHome__disclamer {
  font-size: 0.75rem;
  color: gray;
}
</style>

