<template>
  <div class="AlkoTaxResult">
    <div class="AlkoTaxResult__intro">
      <p v-if="!isLoading && !hasMoreResults">Visar {{allResults.length}} resultat för "{{searchQuery}}"</p>
      <p v-else-if="!isLoading && hasMoreResults">Visar {{allResults.length}} (begränsat) resultat för "{{searchQuery}}". Förfina din sökning för att få bättre träff.</p>
      <p v-else>Söker efter "{{searchQuery}}"</p>
      <div class="AlkoTaxResult__intro-sorting">
        <AlkoTaxSortInterface :onSort="resetPage" />
      </div>
    </div>
    <template v-if="showingResults.length == 0 && !isLoading">
      <p class="AlkoTaxResult__not-found">Hittade inga varor med den sökfrasen <br/> 😢</p>
    </template>
    <template v-else-if="!isLoading">
      <div class="AlkoTaxResult__item" v-for="product in showingResults" v-bind:key="product.productId">
        <AlkoTaxProduct :product="product" />
      </div>
    </template>
    <template v-else>
      <div class="AlkoTaxResult__item" v-for="n in 10" v-bind:key="n">
        <AlkoTaxLoader />
      </div>
    </template>
    <div ref="scrollObserver"></div>
  </div>
</template>

<script>
import AlkoTaxProduct from '../layouts/product/Product';
import AlkoTaxLoader from '../components/loader/Loader';
import AlkoTaxSortInterface from '../components/sort-interface/SortInterface';
import { observe, unobserve } from "../observer";

export default {
  name: 'AlkoTaxResult',
  components: {
    AlkoTaxProduct,
    AlkoTaxSortInterface,
    AlkoTaxLoader
  },
  data() {
    return {
      currentPage: 1,
    };
  },
  computed: {
    allResults() {
      return this.$store.getters.products;
    },
    showingResults() {
      return this.$store.getters.products.slice(0, this.showCount);
    },
    isLoading() {
      return this.$store.getters.isLoading;
    },
    hasMoreResults() {
      return this.$store.getters.hasMoreResults;
    },
    searchQuery() {
      return this.$route.params.searchQuery;
    },
    showCount() {
      return Math.min(this.currentPage * 30, this.allResults.length);
    },
    hasMoreToShow() {
      return this.showCount < this.allResults.length;
    }
  },
  methods: {
    search() {
      this.$store.dispatch("search", this.searchQuery);
    },
    showMore() {
      if (this.hasMoreToShow) {
        this.currentPage++;
      }
    },
    resetPage() {
      this.currentPage = 1;
    }
  },
  watch: {
    $route() {
      this.search();
      this.resetPage();
    }
  },
  beforeMount() {
    this.search();
  },
  mounted() {
    observe(this.$refs.scrollObserver, (entry) => {
      if (entry.intersectionRatio > .1) {
        this.showMore();
      }
    });
  },
  beforeDestroy() {
    unobserve(this.$refs.scrollObserver);
  }
}
</script>

<style lang="scss">

.AlkoTaxResult {
  display: grid;
  row-gap: 1rem;
  margin-top: 1rem;
}

.AlkoTaxResult__item {
  box-shadow: 0 1px 4px #bbb;
}

.AlkoTaxResult__intro {
  p {
    margin: 0;
    align-self: center;
    margin-right: 1rem;
  }

  color: gray;
  font-size: .75rem; 
  margin-left: 1rem;
  display: grid;

  grid-template-columns: auto;
  grid-template-rows: auto auto;

  @media only screen and (min-width: 767px) {
    grid-template-columns: auto auto;
    grid-template-rows: auto ;
  }

  .AlkoTaxResult__intro-sorting {
    align-self: center;
    justify-self: end;
    margin-right: 1rem;
  }
}

.AlkoTaxResult__not-found {
  font-size: 4rem;
  text-align: center;
  color: #ccc;
}

</style>

