<template>
  <div class="AlkoTaxModal" :class="modifiers">
    <div class="AlkoTaxModal__overlay" v-on:click="onCloseInternal"></div>
    <div class="AlkoTaxModal__modal">
      <slot />
    </div>
  </div>
</template>

<script>
export default {
  name: 'AlkoTaxModal',
  props: {
    open: Boolean,
    onClose: Function
  },
  components: {
  },
  computed: {
    modifiers() {
      return {
        'AlkoTaxModal--open': this.open,
      }
    }
  },
  methods: {
    onCloseInternal(e) {
      e.stopPropagation();
      this.onClose();
    }
  }
}
</script>

<style lang="scss">
.AlkoTaxModal__modal {
  position: fixed;
  z-index: 101;
  opacity: 0;
  pointer-events: none;
  background-color: white;
  padding: 1rem;
  max-width: 756px;
  box-shadow: 0 1px 5px #888;
  transition: 250ms transform ease-in, 250ms opacity ease-in;

  left: 0;
  bottom: 0;
  width: 100vw;
  transform: translate(0, 100%);
  
  @media only screen and (min-width: 767px) {
    left: 50vw;
    top: 50vh;
    bottom: unset;
    transform: translate(-50%, -50%);
    width: auto;
  }
}

.AlkoTaxModal--open > .AlkoTaxModal__modal {
  pointer-events: unset;
  opacity: 1;

  &:hover {
    cursor: auto;
  }

  @media only screen and (max-width: 766px) {
    transform: none;
  }
}

.AlkoTaxModal__overlay {
  position: fixed;
  background-color: #444;
  opacity: 0;
  pointer-events: none;
  z-index: 100;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;

  

  transition: 200ms opacity ease-in;
}

.AlkoTaxModal--open > .AlkoTaxModal__overlay {
  pointer-events: unset;
  opacity: 0.4;

  &:hover {
    cursor: pointer;
  }
}
</style>
