<template>
  <div class="AlkoTaxSearchInput" :class="modifiers">
    <form v-on:submit.prevent="onSubmit" class="AlkoTaxSearchInput__form">
      <input class="AlkoTaxSearchInput__search-input" type="text" v-model="searchQuery" placeholder="Sök rusdryck" />
    </form>
  </div>
</template>

<script>
export default {
  name: 'AlkoTaxSearchInput',
  props: {
    big: Boolean,
    onSearch: Function
  },
  data() {
    return {
      searchQuery: "",
    }
  },
  methods: {
    onSubmit() {
      const trimmedQuery = this.searchQuery.trim();
      if (trimmedQuery !== "") {
        this.onSearch(trimmedQuery);
      } 

      this.searchQuery = "";
    }
  },
  computed: {
    modifiers() {
      return {
        "AlkoTaxSearchInput--big": this.big,
      };
    }
  },
}
</script>

<style lang="scss">

.AlkoTaxSearchInput {
  background-color: var(--color-green);
  padding: 3px;
  border-radius: 1rem;
  box-shadow: 0 1px 5px #888;

  display: grid;
  grid-auto-flow: column;
}

.AlkoTaxSearchInput__form {
  display: grid;
  grid-auto-flow: column;
  padding: 0;
  margin: 0;
}

.AlkoTaxSearchInput__search-input {
  display: inline;
  overflow: auto;
  border-radius: .875rem;
  height: 3rem;
  font-size: 1.5rem;
  line-height: 1.5rem;
  text-align: center;

  color: var(--color-yellow);
  background-color: var(--color-green);
  border: 3px solid var(--color-yellow);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bold;
  text-transform: uppercase;

  &::-webkit-input-placeholder {
    color: var(--color-yellow-fade);
  }

  &::-moz-placeholder {
    color: var(--color-yellow-fade);
  }

  &::-ms-placeholder {
    color: var(--color-yellow-fade);
  }

  &::placeholder {
    color: var(--color-yellow-fade);
  }

  &:focus{
    outline: none;
  }
}

.AlkoTaxSearchInput--big {
  .AlkoTaxSearchInput__search-input {
    height: 6rem;
    font-size: 2rem;
    line-height: 2rem;
  }
}

</style>
