<template>
  <svg class="AlkoTaxFlaskIcon" viewBox="0 0 380.721 380.721">
    <path d="M216.026,117.727c0-24.138,0-117.727,0-117.727h-18.485h-14.35h-18.49c0,0,0,93.577,0,117.727s-43.379,61.12-43.379,81.86
		c0,20.75,0,153.575,0,163.765s7.541,17.37,15.465,17.37c5.24,0,30.162,0,46.404,0c8.291,0,14.35,0,14.35,0
		c16.243,0,41.165,0,46.405,0c7.924,0,15.452-7.181,15.452-17.37s0-143.015,0-163.765
		C259.398,178.846,216.026,141.864,216.026,117.727z M175.715,154.133c-3.566,5.089-8.574,12.362-14.215,21.013
		c-5.258,8.72-11.787,19.177-14.123,30.517c-1.214,5.065-0.808,12.281-0.953,19.229c-0.116,6.971-0.25,14.059-0.366,21.123
		c-0.5,28.326-1.609,56.629-2.881,77.868c-1.214,21.228-2.463,35.402-2.463,35.402c0.012,0-1.237-14.163-2.451-35.402
		c-1.272-21.239-2.388-49.542-2.876-77.868c-0.122-7.076-0.25-14.152-0.372-21.123c0.11-6.947-0.581-13.57,0.761-21.564
		c3.224-14.825,11.258-25.41,18.229-33.775c7.128-8.342,14.192-14.076,19.252-17.846c4.973-3.869,8.209-5.577,8.209-5.577
		S179.369,149.039,175.715,154.133z"/>
  </svg>
</template>

<script>
export default {
  name: 'AlkoTaxFlaskIcon',
}
</script>

<style lang="scss">
.AlkoTaxFlaskIcon {
  fill: #ccc;
}
</style>
