<template>
  <div class="AlkoTaxApp" :class="modifiers">
    <div class="AlkoTaxApp_background">
      <AlkoTaxAnimatedBackground />
    </div>
    <header class="AlkoTaxApp__header">
      <AlkoTaxSearchInput :onSearch="onSearch" />
    </header>
    <div class="AlkoTaxApp__content">
      <router-view />
    </div>
    <footer class="AlkoTaxApp__footer">
      <p>
        <router-link :to="{ name: 'about'}">Hur funkar siten?</router-link>
      </p>
      <p>
        <router-link :to="{ name: 'home'}">Startsidan</router-link>
      </p>
      <p>
        Skapad av <a href="https://herrborgstrom.se">Joakim Borgström</a>
      </p>
      <p>
        Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
      </p>
    </footer>
    <AlkoTaxCookies/>
  </div>
</template>

<script>
import AlkoTaxSearchInput from './components/search-input/SearchInput';
import AlkoTaxCookies from './layouts/cookies/Cookies';
import AlkoTaxAnimatedBackground from './components/animated-background/AnimatedBackground';

export default {
  name: 'AlkoTaxApp',
  components: {
    AlkoTaxSearchInput,
    AlkoTaxCookies,
    AlkoTaxAnimatedBackground
  },
  computed: {
    modifiers() {
      return {
        "AlkoTaxApp--home": this.$route.name === 'home',
      };
    }
  },
  methods: {
    onSearch(query) {
      this.$router.push({ name: 'search', params: { searchQuery: query } });
    }
  },
  beforeMount() {
    this.$store.dispatch("loadVariables");
  }
}
</script>

<style lang="scss">
@import 'global.scss';

.AlkoTaxApp__header {
  position: sticky;
  top: 0;
  z-index: 1;
  background: transparent;
}

.AlkoTaxApp--home {
  display: grid;
  height: 100%;
  align-items: center;
  .AlkoTaxApp__header, .AlkoTaxApp__footer {
    display: none;
  }
}

.AlkoTaxApp__content {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.AlkoTaxApp__footer {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

  padding: 1rem;
  border-top: 1px solid #ddd;
  margin-top: 1rem;
}

.AlkoTaxApp_background {
  // background-color: red;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}
</style>
