
body {
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  --color-cv: #9B2020;
  --color-alt: #8A817C;
  --color-white: #f7f7f7;
  --color-text: #050505;
  --color-heading: black;
  --color-text-background: #f7f7f7;

  --font-cv: 'Linux Libertine', serif;
  
  --header-height: 4rem;
  --width-text: 860px;


  --color-green: #0b7b3e;
  --color-yellow: rgba(254, 212, 1, 1.0);
  --color-yellow-fade: rgba(254, 212, 1, 0.5);
}

a {
  color: gray;//var(--color-cv);
}

p {
  line-height: 1.5;
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  margin-left: 1rem;
  margin-right: 1rem;
  color: var(--color-heading);
  font-size: 2.5rem;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

h2 {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}